/* General styling */
body {
    margin: 20px;
}

main {
    background-color: black;
    padding: 20px;
    margin-bottom: 20px;
}

header {
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin-bottom: 20px;
    height: auto;
}

/* Header styling */
.header {

    padding: 10px;
}

#header_container {
    display: flex;
    margin-bottom: 10px;
    height: 80px;
}

.header_child {
    margin: 10px;
}

#logo_container {
    flex: 20;
    display: flex;
    justify-content: left;
}

#logo {
    margin-right: 20px;
}

#brand_name {
    flex: 60;
    margin-right: 20px;
}

#search {
    flex: 20;
}

#header_container2 {
    display: flex;
    background-color: rgb(214, 213, 213);
    opacity: 0.5;
    color: red;
    height: 80px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: serif;

}  

.header_child2 {

}

/* Main section styling */
main {
    display: flex;
}

.section_container {
    background-color: #44465e;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 70;
}

.container {
    display: flex;
    justify-content: space-around;
}

.article {
    background-color: #1664a4;
    width: 100%;
    height: 20px;
    margin: 10px;
}

#last_article {
    background-color: #6399bb;
    display: block;
    height: 20px;
    margin: 10px;
}

/* Aside ads styling */
aside {
    background-color: #f94c47;
    display: flex;
    flex-direction: column;
    flex: 30;
    margin-left: 20px;
    padding: 20px;
}

.ad_container {
    background-color: #ffe380;
    height: 20px;
    display: block;
    margin-bottom: 10px;
}

/* Footer styling */
footer {
    background-color: black;
    padding: 20px;
}

.footer_content {
    background-color: #e4a434;
    height: 20px;
}


/* Responsive design for tablet */
@media (min-width: 601px) and (max-width: 992px) {
    main {
        flex-direction: column;
        background-color: #fff734;
    }
    aside {
        margin-left: 0px;
        margin-top: 20px;
    }
}    


/* Responsive design for mobile */
@media (max-width: 600px) {
    #header_container {
        flex-direction: column;
        margin-bottom: 20px;
    }
    #logo, #brand_name, #search {
        flex: auto;
        margin-right: 10px;
    }
    main {
        flex-direction: column;
        background-color: #ffd939;
    }
    .section_container {
        background-color: #004763;
    }
    .container {
        flex-direction: column;
    }
    aside {
        margin-left: 0px;
        margin-top: 20px;
        background-color: #ff784c;
    }
    .article {
        width: auto;
        background-color: #558991;
    }
    #last_article {
        background-color: #97d4c5;
    }
    .ad_container {
        background-color: #ffab64;
    }
    #last_ad {
        margin-bottom: 0px;
    }
}   